[2013-02-26 15:40] MisterJames opened #4 "Name-based matches for types"
Attempt a match on the type name before matching the properties. This would allow for the same property names to be mapped in different domains (i.e. Blog.Title, Employee.Title, Album.Title etc.).  Perhaps we have to explore the idea of building a type/property map table in mem for known pairs, with wildcard properties for unmatched types.  We can skype it out.

---

Dave, assigning you since you

[2013-02-27 03:19] #4 closed, assigned to dpaquette

[2013-02-27 03:49] MisterJames opened #5 "Create NuGet Package Update for Current Feature Set"
New fillers, name-based type matching, some improvements to fluent bits.

Time for a new package. :+1:

[2013-02-27 03:53] MisterJames opened #6 "Updates to Introduction and Wiki to align with Current Implementation"
All we have is the wiki and a couple of blog posts. We'll need to get those up-to-date the lists of known properties, how the props work, and the readme.

[2013-02-27 03:58] MisterJames opened #7 "Test Coverage for Name Based Type Matching"
We'll hit the Skype and talk about what we can do to test randomness. Testing random is easy. It either works or it doesn't or it does.

[2013-03-16 04:09] #5 closed, assigned to MisterJames

[2013-10-18 14:08] davidalpert opened #9 "Support for .NET Framework 4.0"
Could not install package 'AngelaSmith 1.1.0'. You are trying to install this package into a project that targets '.NETFramework,Version=v4.0', but the package does not contain any assembly references or content files that are compatible with that framework. For more information, contact the package author.

[2013-12-12 23:43] ajepst opened #10 "Ability to specify fill using a method instead of a property"
Scenario: sometimes, a class will have an explicit setter method for something you might want to set:

SetFirstName(string firstName)
{
   _firstName = firstName;
}

I'd like to be able to use AngelaSmith in such a scenario. In this case, I am imagining usage as something like:

Angie.Configure<Person>().
MethodFill(b=>b.SetFirstName).AsFirstName().Make<Person>();

I am imagining only taking into

[2014-01-03 00:44] #10 closed, assigned to nobody

[2014-04-13 02:41] stimms opened #13 "Set nullables"
Angela seems to take issue with nullables. She doesn't set them at all! I'd like to see Angela set a value some of the time. Perhaps in all cases she could set a value and then evil Angela could randomly set the values to nullable as a sort of input fuzzing.

[2014-12-04 18:41] dpaquette opened #17 "Add 'Download as JSON' option to Genfu sample website"
Not sure how useful this would be but it should be pretty easy to do.

[2014-12-28 16:10] dpaquette opened #18 "Smarter Property Fillers"
Currently, property fillers are all independent of each other. For example, the EmailAddress property filler has no knowledge of the firstname and last name property fillers. It would be great if the Email Address property filler would wait until after the First Name and Last Name have been filled and then user the First Name and Last Name to generate the Email Address.

For example,
Instead of: F

[2015-08-04 11:42] attiqeurrehman opened #19 "System.ArgumentException: Property set method not found."
Hi I am running the following code in Seed method:

                var store = new UserStore<ApplicationUser>(context);
                var manager = new UserManager<ApplicationUser>(store);
                var passwordHash = new PasswordHasher();
                string password = passwordHash.HashPassword("Password@123");

                var users = Angie
                            .Configure<

[2015-11-05 22:00] MaximRouiller opened #23 "Method Filler idea"
[code]

This would you to be explicit about how you fill parameters and would also allow default parameters for same typed parameters.

I haven't installed the tool, I haven't tested it. Just an idea. :smiley:

[2015-11-06 00:46] dpaquette opened #25 "Configuring inherited properties not working"
[code]

Configuring the child class as follows doesn't work:
```A.Configure<OtherThing>().Fill(a => a.Id, () => 0) ```

But this does:
```A.Configure<BaseThing>().Fill(a => a.Id, () => 0) ```

Would be great if both worked properly.

[2015-11-06 00:50] dpaquette opened #26 "Add configuration options to provide a value instead of an expression to fill a property"
When I want to configure an int property to always be 0 I need to do the following:

```A.Configure<MyThing>().Fill(t => t.Id, () => 0)```

Would be easier if we could specify like this:
```A.Configure<MyThing>().Fill(t => t.Id, 0)```

[2015-11-06 01:01] dpaquette opened #27 "Need a way to configure properties based on other property values"
[code]

[2015-11-09 05:46] #27 closed

[2015-11-09 05:46] #26 closed

[2015-11-13 18:03] dpaquette opened #30 "Install fails on .NET 4.5"
Attempting to resolve dependencies for package 'GenFu.1.0.3' with DependencyBehavior 'Lowest'
Install-Package : Unable to resolve dependencies. 'System.Linq 4.0.0' is not compatible with 'GenFu 1.0.3 constraint: System.Linq (≥ 4.0.1-beta-23409)'.
At line:1 char:1
+ Install-Package GenFu
+ ~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (:) [Install-Package], Exception
    + Fully

[2015-11-16 14:09] dpaquette commented on #30
This is working now

[2015-11-16 14:09] #30 closed

[2015-11-16 23:51] luisrudge opened #32 "Don't use `A.` prefix"
[FakeItEasy](http://fakeiteasy.github.io/), a popular mocking library for .NET, already uses the `A.` prefix. Since both of your projects are great for writing tests, I recommend you change your prefix to something else, so we can GenFu with FakeItEasy without any issues.

[2015-11-17 00:00] stimms commented on #32
Humm it is kind of a naming conflict in the English language. I don't know how we would solve this without radically changing the api. Ideas that come to mind (without checking to see if any are viable) are

Static using
Creating a second namespace for compatibility which uses a different key word

[2015-11-17 00:51] luisrudge commented on #32
Sure, I know `A` means just `A` in english and I'm not claiming FakeItEasy "owns" that prefix, but since this is a new project, I think it's easier to change it here than in FakeItEasy.

[2015-11-17 01:03] stimms commented on #32
I'd rather that nobody has to change their API but a conflict in naming is certainly undesirable. I'd like to explore some options before we go about changing APIs wholesale. Worst case scenario we could use `One.` and we might be able to just put that in a wrapper class which we keep in a `Genfu.Compat` namespace.

[2015-11-17 01:08] luisrudge commented on #32
Great!

[2015-11-17 01:48] dpaquette commented on #32
A is essentially just an alias for the `GenFu`. If you don't want to use A you can use `GenFu` instead.

[2015-11-17 01:54] luisrudge commented on #32
Oh, nice! I'll close this then. THanks

[2015-11-17 01:54] #32 closed

[2015-11-17 02:03] stimms commented on #32
You would still have a name conflict though, right?

[2015-11-17 02:08] luisrudge commented on #32
Sure, but only in the first time. After you import GenFu and FakeItEasy, it should have no conflict

[2015-11-22 03:59] #25 closed

[2015-11-22 16:58] stimms commented on #23
Hi @maximrouiller I'm afraid that I don't really understand what you're asking for here.

[2015-11-23 01:40] stimms opened #40 "Write up some documentation on how to add new fillers"
A small pain if you don't know how.

[2015-11-23 01:44] stimms opened #41 "Improve geospatial generation"
Would be cool if the geospatial stuff could generate coordinate points within a bounding box. Other ideas

 - generate LSDs
 - allow for a mode to generate points only within cities or only along roads or only in the countryside or only on dry land

[2015-11-23 14:06] MaximRouiller commented on #23
Here's the method filler example in the repo readme:

    GenFu.Configure<Person>()
        .MethodFill<string>(x => x.SetMiddleName(null))
    var post = A.New<Person>();

Here's my suggested implementation instead:

    GenFu.Configure<Person>()
        .MethodFill<string>(x => x.SetMiddleName(GenFu.Fill<string>()))
    var post = A.New<Person>();

Maybe I actually want to use a `null` parameter

[2015-12-05 22:05] dasjestyr opened #47 "Name space and app kernel being named the same causing some pain"
Pretty much right there in the title. So for example, when I try to call GenFu.Configure, it doesn't compile because VS thinks I'm making reference to the namespace. If I add using GenFu; to the using directives, it's the same result. At one point, importing other namespaces forced me into actually having to make reference to the GenFu class by typing global::GenFu.GenFu.Configure which was absurd

[2015-12-06 10:49] jeremy-holt commented on #47
+1

[2015-12-07 05:10] stimms commented on #47
Thanks for filing the issue. Seeme like we could fix either the GenFu in GenFu problem or the A syntax issue. I don't agree with Resharper having warnings of this sort but who am I to argue with Resharper?

My thoughts are that we shouldn't change the name of GenFu because it is a public class and people may be relying on it. So that leave us with how we expose all the methods in GenFu to A and Eh

[2015-12-09 02:14] dasjestyr commented on #47
I think it's worth noting that nuget is is versioned so you wont break anyone unless they deliberately update the library. Breaking changes happen. Fact of life. For those pulling directly from the repo, it's the same story imo. So if you're to be ok with that, I think simply changing the genfu application class to "A" would solve both problems.

[2015-12-17 17:32] M-Zuber commented on #13
Have run into this problem today. Any news?

[2015-12-19 00:53] natemcmaster opened #49 "Suggestion: respect MaxLengthAttribute"
Automatically truncate data when inserting into string properties with a defined [MaxLengthAttribute](https://msdn.microsoft.com/en-us/library/system.componentmodel.dataannotations.maxlengthattribute%28v=vs.110%29.aspx)

[2015-12-21 14:10] M-Zuber opened #50 "Distinct"
It would nice to be able to tell GenFu to give me a list with a certain property being distinct for the whole collection.
Something along the following:
[code]

[2015-12-21 14:14] M-Zuber opened #51 "DateTime properties have date always set to MinDate"
The time sometimes varies, sometimes an entire list is simply `deafult(DateTime)`

Re DateTime? I see that #13  is already open so will not repeat

[2015-12-21 18:22] dpaquette commented on #50
Agreed this would be an extremely useful feature

[2015-12-21 18:25] M-Zuber commented on #50
I have tried working with MoreLinq in the meantime, but I am still getting exceptions in my integration tests.
You guys have a gitter/slack somewhere I can chat for help?

[2015-12-21 19:54] dpaquette commented on #50
Nothing yet but we are working on getting something setup

[2015-12-23 23:43] gpltaylor commented on #13
I have submitted a Pull Request that solves this problem for DateTime. This includes a Seed value for controlling the percentage of Null values allowed (Fuzzing). This is also required for other Nullable Types like Int?

[2015-12-23 23:58] gpltaylor opened #54 "DefaultValueChecker.HasValue - Use of Magic Strings"
Used "Magic Strings" to assert the Object Type. This is not safe if Lamba/Dynamic or Nullable types are uses. It's also an Anti-pattern.

Update: case "int32"
To use something like: (property.GetType() == typeof(string))

[2015-12-25 03:20] stimms commented on #50
I kind of wonder if maybe the default behaviour should be to generate without duplicates and have an override to force a duplicate to appear. In most cases I would think not having duplicates would be desirable or at very least not harmful.

[2015-12-26 21:21] dpaquette commented on #50
A few things to consider if we do it by default:
1) Performance: Could be slow for large collections
2) What do we do if someone asks for 10,000 items and we only have 1000 unique names in our database
3) What should be unique? Consider the usual Person example. FirstName and LastName individual do not need to be unique but maybe should be unique when combined. Even FirstName + LastName should not

[2015-12-26 23:17] stimms commented on #50
Huh, those are good things to consider.

1) We might be able to figure out some sort of a solution with a hashtable for constant time lookups but it would be difficult for entities which don't implement icomparable.
2) Throw an exceptions would be the most sensible thing. `NotEnoughJunkToFillTheRequestedTrunkException`
3) I was thinking just for individual fields but multiple fields does make more

[2015-12-27 12:28] gpltaylor commented on #50
If we are to throw exceptions I think that turning on distinct should be an option (not a default value/setting). This can be done from defaults or fill. Otherwise people's existing code base will start throwing exceptions.

Regards,

Garry Taylor

On 26 Dec 2015, at 23:18, Simon Timms <notifications@github.com<mailto:notifications@github.com>> wrote:

Huh, those are good things to consider.

1) W

[2015-12-27 16:59] gpltaylor commented on #49
It would be great to support a number of different Attributes. For example RegularExpressionAttribute. However with most thing, there might need to be an option to turn this on/off? Also writing code to conform to these attributes could be hard work (performance wise).

[2015-12-31 15:06] #51 closed

[2016-01-01 20:32] Codenator81 opened #55 "Is there any filler for body?"
If I need fill field with same thing like blog post body field. How I can do this?

[2016-01-02 15:08] dpaquette commented on #55
We don't have anything for this yet but it is definitely needed.

Ideally I would like to see something along the lines of :
[code]
Where the parameter is the number of paragraphs to generate when filling the property.

[2016-01-03 19:44] Codenator81 commented on #55
@dpaquette This will be great feature!

[2016-01-06 18:01] bastienJS opened #60 "Unique first-/last name over a collection"
I need to generate some lists of students for some classes.

Per class the firstname and last name must be unique.

When I do seed my data with: A.ListOf<Student>(30);

I have a problem be cause many duplicates are in there and I do not want to distinct them out...

Thanks!

[2016-01-06 18:51] dpaquette commented on #60
Possible duplicate of #50

[2016-01-09 09:55] mrahhal opened #61 "Filling boolean values"
I'm not sure if this exists, it would be nice to specify how to fill boolean values.

Something like:

[code]

Does something like this exist, or at least is this doable?

[2016-01-09 10:06] mrahhal commented on #55
+1 We really need this.

[2016-01-09 15:58] gpltaylor commented on #61
This is possible already. There is a property in Defaults called seedPercentage. Setting this value to 0.30 will make this Null 30% of the time (on average). Note: as this is a random seed 30% can not be guaranteed unless the number of results in known before hand.

[2016-01-18 01:42] MisterJames commented on #50
@M-Zuber and @gpltaylor: What about something like the following?

[code]

This would let you build up the list of properties that you want to, in unison, represent a unique entity. The above, for example, would keep a list of hashes on `Firstname` and `Lastname` and throw out duplicates during generation.

If you hadn't set up configuration for the `Person` object, we'd have to resort to using th

[2016-01-18 04:51] M-Zuber commented on #50
That looks perfect for me.
Ensures that it is very clear in the setup what needs to be unique, and allows for a simple flow of different uniqueness for the same model in different scenarios.

[2016-01-18 17:30] dpaquette commented on #50
This looks good @MisterJames .  If we configure the `UniqueBy` properties do we need a separate `UniqueList<>` method? Could we just do `A.List<Person>(25);`

[2016-01-19 07:16] JuergenGutsch opened #63 "Supporting platform target 5.4 instead of dnxcore5"
I think you should support platform target 5.4 (dotnet5.4) instead of dnxcore5 to support more frameworks and platforms. David Fowler talked about it at the MVP Summit 2015 and showed a document about it: https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/standard-platform.md

Should be a simple change in the project.json

[2016-01-19 17:30] meggle opened #64 "Filling two long values appears to cause the second to be filled the same way as the first"
For example, if I have two longs like long Id and long BatchId, and Id is something like incrementingId++ and BatchId is .WithRandom(new List<long> { 1, 2, 3, 4, 5 }), BatchId will always be the Id++ and not one of the random values.

However, if i switch Id to an int, suddenly BatchId is within the random range I have defined.

I have some sample code with xunit:

[code]

[2016-01-19 20:20] MisterJames commented on #64
Great report, thanks @meggle, I'll try to repro with that test. Did you want to take this on as a PR?

[2016-01-22 12:27] bastienJS commented on #50
@MisterJames Looks good!

[2016-02-03 20:23] meggle commented on #64
I'll give it a shot

[2016-02-04 01:17] stimms commented on #61
Sounds like perhaps this is good to go

[2016-02-04 01:17] #61 closed

[2016-02-04 06:31] engineerclark commented on #64
I experienced this same issue today, except with `int`s rather than `long`s.  It looks to me like the issue has less to do with type, and more to do with the [GetMatchingPropertyFiller](https://github.com/MisterJames/GenFu/blob/b2b7eafc4ed0566ef4279b77ef7c539388fdf50e/src/GenFu/FillerManager.cs#L217-L230) method in FillerManager.cs, which isn't looking up exact matches:

[code]

Since the conditio

[2016-02-12 19:19] GrantErickson opened #66 "Corporate Names don't use the same random generator"
We are using a deterministic random generator via an overload on the BaseValueGenerator. This allows us to run unit tests that have the same data every time.
However, maybe the Corporate/Name.cs generator should use something like:
    return GetRandomValue(names);
Rather than
    return names.GetRandomElement();

GetRandomElement uses a private Random generator that cannot be changed.
If the inte

[2016-02-18 17:33] MisterJames commented on #66
Hey, thanks for this feedback @GrantErickson  we hadn't thought of this use case. Noted and we'll look into this on our next window of time to work on this. Cheers!

[2016-02-26 16:20] #54 closed

[2016-02-29 14:58] mdmoura commented on #50
How is this feature going? Is already available? What about the following:

    A.Configure<Message>()
       .Fill(x => x.Text)
       .WithRandom(new String[] { "Hello", "How are you?", "Bye" })
       .Distinct();

    var messages = A.ListOf<Message>(4000);

If using a cross product between the String array and an Int array the result would be:

    "Hello 1"
    "How are you? 1"
    "Bye 1"

[2016-03-02 21:39] mdmoura opened #72 "Order of class properties definition affects filler result."
Hello,

The order of the properties in a class affects the filler result:

    public class Post {
      public String Slug { get; set; }
      public String Title { get; set; }
    }

    [Fact]
    public void TitleAndSlugShouldBeEqual() {
      Int32 index = 0;
      A.Configure<Post>()
       .Fill(x => x.Title, x =>
          new List<String> {
            "A", "B"
          }[index++])

[2016-03-24 10:37] daviatorstorm opened #73 "Deep property fill not working"
SomeClass.cs
[code]

Test.cs
[code]

[2016-03-31 13:45] MaximRouiller opened #74 "ListOf<T>(int personCount)"
Well... what if I want something else? :smile:

https://github.com/MisterJames/GenFu/blob/d0f01bd713dca11b9ba8d07f9d7a9412255dfae0/src/GenFu/GenFu.cs#L79

I propose that we rename the parameter name to something more generic.

[2016-04-05 01:02] dpaquette commented on #74
Great idea @MaximRouiller

Perhaps `itemCount` would be more appropriate

[2016-04-05 01:04] dpaquette commented on #73
This appears to be related to #25

[2016-04-05 12:40] MaximRouiller commented on #74
That would actually be more in line with the desired experience. :+1:

[2016-04-08 18:20] ihandley opened #75 "Guid generation not working"
I'm sure I'm missing something obvious, but when I try a very simple test to generate a Guid like this:

`var foo = A.New<Guid>();`

What I get is this:

`00000000-0000-0000-0000-000000000000`

I thought maybe it was the most recent version so I rolled back to the last, but alas, same issue.

[2016-04-08 20:59] miguellira commented on #72
@mdmoura Ran into this as well.

Though I'm still getting acquainted with the source code, it appears the setting of properties is done in the order returned by `GetAllProperties()` (see [code](https://github.com/MisterJames/GenFu/blob/4e2e1e67817ec82f1d9fa7f037d7f62d592b524d/src/GenFu/GenFu.cs#L49)) which walks the object graph and simply gets all `TypeInfo.DeclaredProperties`.

So if you wish fo

[2016-04-09 16:09] MisterJames commented on #72
Yes, thanks for commenting @miguellira, you've captured that well.

And yes, @mdmoura, what you're seeing has caused a bit of confusion. It's something that is not intentional, so we'll mark this as a bug and try to get to it at some point.

Two workarounds:

 1. Swap the order of your properties on your class definition, as you've done (total PITA)
 1. Swap the order of your fillers/expressions w

[2016-04-09 16:11] MisterJames commented on #73
@daviatorstorm I believe this is fixed with last week's release, which incorporates the fix in #25. Please let us know if you're still running into it.

[2016-04-09 16:11] #73 closed

[2016-04-09 16:53] MisterJames commented on #75
Thanks, looks like you found a bug with the way that we generate a `Guid`, which is a special entity because you can new up an object and it will have a valid value (albeit, all zeros).

This also led me to discover a defect with the default value checker, which was not testing properties of type `Guid` for the default value.

[2016-04-11 19:34] dpaquette commented on #74
I would like to try fixing this

[2016-04-11 19:35] MisterJames commented on #74
Sounds good @dpaquette, please create a PR and I'll help you through it.

[2016-04-11 19:47] MaximRouiller commented on #74
Am I in a demo!? :smile:

[2016-04-11 19:53] #75 closed

[2016-04-11 19:53] MaximRouiller commented on #74
You guys are awesome.

[2016-04-11 19:54] dpaquette opened #79 "Add comments to public GenFu.ListOf methods"
These methods are missing comments. I would like to add some if you think it would be helpful.

[2016-04-11 19:55] MisterJames commented on #79
Sounds great, thanks @dpaquette!

[2016-04-11 20:10] MisterJames commented on #79
Closed by #80.

[2016-04-11 20:10] #79 closed

[2016-04-12 14:56] dpaquette opened #81 "Ninja image missing in GenFu.Web when deployed to docker"
Found by Kyle while creating this docker container: https://hub.docker.com/r/kbaley/genfu/

On Linux / Mac, file paths are case sensitive. The src for the ninja image is `contents/ninja.png` but the actual path is `Contents\ninja.png`

https://github.com/MisterJames/GenFu/blob/master/src/GenFu.Web/Views/Home/Index.cshtml#L8

[2016-04-12 14:56] dpaquette commented on #81
I would suggest changing the `Contents` folder to `contents` if possible for consistency.

[2016-04-12 15:08] #81 closed

[2016-04-13 13:46] MisterJames commented on #74
Closed by #78.

[2016-04-13 13:46] #74 closed

[2016-05-12 00:47] #55 closed

[2016-05-18 00:00] vhe1 opened #86 "Static methods not called in filler"
Hi!
I've got 2 classes which look like

    public partial class QuestionAnswers
    {
        public int PK { get; set; }
        public int AnswerNo { get; set; }
        public bool IsCorrect { get; set; }
        public string Text { get; set; }

        public virtual Questions PKNavigation { get; set; }
    }

    public partial class Questions
    {
        public Questions()
        {

[2016-05-18 00:30] vhe1 opened #87 "Wrong semantics for member initialization"
Given the same objects as in https://github.com/MisterJames/GenFu/issues/86 I find it hard to initialize child collections.

For some reason the fillers get applied _before_ the constructor is called. So, if I use the EF7 scaffolding generator, which creates constructors like for "Questions" in the other issue, the child collections will be overwrittem by the constructor after .Fill has been appli

[2016-05-20 20:44] dpaquette commented on #87
We initialize child collections like you describe all the time without problems. It would not be possible for us to fill a collection before the constructor because there would be no object to fill at that time. I suspect something else is happening here.

Can you try a very simple Filler for you collection to confirm whether or not it is working?

[code]

[2016-05-22 14:15] M-Zuber opened #88 "Error Creating List<List<T>>"
With the following classes
[code]
With a configuration of
[code]
The result is:
![image](https://cloud.githubusercontent.com/assets/4746537/15454406/7f23a65a-2040-11e6-8289-999531025454.png)

Is there any way around this other than making a manual loop like so?
[code]

[2016-05-22 18:00] dpaquette commented on #88
Currently a loop is the only way to accomplish this. We will consider simplifying in a future release.

[2016-05-23 03:55] M-Zuber commented on #88
Thanks for the info.

[2016-05-23 03:55] #88 closed

[2016-06-23 07:28] radenkozec opened #89 "Problem with Resharper parsing GenFu or Visual Studio 2015"
I am doing ASP.NET Core RC 2 project with GenFu in Tests project.
Resharper (or Visual Studio) marks following GenFu fill method as error as seen in attached screenshot however solution builds and runs successfully.
I have tried to clean Resharper cache with no success on issue.

Any solution?
![genfu](https://cloud.githubusercontent.com/assets/3481625/16295063/b85af8cc-3924-11e6-912f-234b11f828f0

[2016-06-29 10:59] code1line opened #90 "Feature Request: Add own resource-files"
It would be nice, if you can register a property-name and the corresponding resource-file (textfile) within the configuration. So it would be open for all types and languages!

[2016-06-29 15:04] dpaquette commented on #90
Paging @MisterJames
I thought we supported this out of the box already

[2016-06-29 15:09] code1line commented on #90
How about the syntax? I have read the docs, but haven't seen anything like that. Thx in advance!

[2016-06-29 15:17] dpaquette commented on #90
Our docs are definitely lacking on some of the extension points.
The key is somewhere in the ResourceLoader (https://github.com/MisterJames/GenFu/blob/master/src/GenFu/ResourceLoader.cs)

It first looks for files in the application path and there is some logic in there about culture specific things. If nothing is found in the app path then it defaults to the built in resource files.

It's possible

[2016-06-30 08:12] clarkis117 opened #91 "Updating to .NET Core RTM and targeting .NET Standard"
Hello, I’m creating this issue to start a conversation about updating GenFu to .NET Core 1.0.0 and to target the new .NET Standard system. I’m also working on a pull request that updates the project.json files for this. Although, it still has to be decided which .NET Standard profile to target. I’m partial to targeting .NET Standard 1.6 and .NET Framework 4.5.1 like ASP.NET Core. Please let me kno

[2016-06-30 21:42] clarkis117 commented on #91
Update: Project.json files and namespaces have been migrated and the commit is up on the working branch. However, the solution is currently getting build errors due to the website's dependency on DNX. I am currently working on porting the website's dynamic code compilation over to .NET Core, so it no longer depends on DNX.

[2016-07-01 02:40] MisterJames commented on #91
@clarkis117 That. Is. Awesome. Thanks a tonne!

[2016-07-01 02:42] dpaquette commented on #91
@clarkis117 Awesome work!
You might be right about the DNX thing. Take a look at the change I had to make here when I upgraded to RTM: https://github.com/dpaquette/TagHelperSamples/commit/654db419e267a25c205b1d5f1da353449c24e363#diff-b8f19466674f2b8fadeacb89f07165e8

[2016-07-01 04:16] clarkis117 commented on #91
@dpaquette It looks like the DNX "runtime targeting errors" were being caused by a dirty nuget cache on my dev box, but I did change the DNX references in the xproj file for the website to reference the dotnet tooling like in your taghelper commit. In the other, xproj files it was causing the tooling to add launchSettings.json files, so I didn't remove them: https://github.com/clarkis117/GenFu/com

[2016-07-01 09:45] clarkis117 commented on #91
Woot good news, I got the code generation working for the website; however, my solution is just as hacky as the original. I couldn’t find much documentation around how ILibraryExporter works in the new dotnet cli world… I even found two distinct implementations of it which both appear to work. My hacky solution gets the MetadataReferences to the other assemblies from a list of hardcoded types.

[c

[2016-07-01 11:24] clarkis117 commented on #91
I'm cleaning up my work on the website's code compilation pipeline. I should have a PR submitted today. This will be my first PR on someone else's project so feedback is appreciated.

[2016-07-01 19:37] clarkis117 commented on #91
@MisterJames @dpaquette Pull Request is in, let me know how it goes :shipit:

[2016-07-03 20:08] v3rt1go commented on #89
What version of Resharper do you use? Could you try and see if this is still an issue if you upgrade to 2016.2 EAP6?

You can get the .exe from here: https://confluence.jetbrains.com/display/ReSharper/ReSharper+2016.2+EAP

[2016-07-04 13:31] radenkozec commented on #89
I use Resharper 2015.2  9.2
I don't think that problem is with ReSharper because all other suggestions for other dll-s works just fine. I have only problem with GenFu.

[2016-07-04 22:03] MisterJames opened #93 "Improve Documentation Around Custom Resource Files"
Building off of #90, we need to better demonstrate and inform package consumers on how to provide their own resource files.

[2016-07-18 21:29] timscriv opened #95 "Asp.Net Core RTM Not working with Nuget 1.1.1"
I am working on upgrading my unit test projects from RC2 to RTM and the current version (1.1.1 at the time of writing) does not function. I noticed there has bee a PR completed for 1.1.2 the updates everything to RTM. I have tested it and everything does seem to be working properly. When might you have 1.1.2 available on NuGet?

[2016-08-12 15:54] FanrayMedia commented on #95
I'm waiting on this too, thanks.

[2016-09-13 21:55] dasjestyr commented on #47
I also wanted to add support for the argument just for academic sake, if nothing else. From the MS Design Guidelines:

https://msdn.microsoft.com/en-us/library/ms229026(v=vs.110).aspx

[2016-09-15 11:36] clarkis117 commented on #91
This can be closed now

[2016-09-15 11:36] #91 closed

[2016-09-15 11:50] clarkis117 opened #96 "Minimum .NET Standard Targets"
Following up on this previous issue from #91 and #92

After fiddling around with it a bit, the minimum targets I came up with for GenFu are:
.NET Standard 1.3
.NET Framework 4.5

.NET Standard 1.3 seems to be the lowest version that would allow it to build on .NET Core, with the System.Reflection.TypeExtensions package. Supposedly .NET Standard 1.0 to 1.2 should have feature parity with .NET 4.5;

[2016-09-20 19:16] os1r1s110 commented on #96
Don't know if this is the place to post this issue or if it would be better in AspNet Core/MVC repo, but I guess you will let me know it it is the case.

Since latest update to some packages (.NET Core 1.0.1), the template project comes with the following frameworks in project.json file:
`"frameworks": {
    "netcoreapp1.0": {
      "imports": [
        "dotnet5.6",
        "portable-net45+win8"

[2016-09-20 19:35] os1r1s110 commented on #96
I don't really know how it all works with frameworks in project.json but according to this documentation https://docs.nuget.org/ndocs/schema/target-frameworks , the dnxcore50 is deprecated, so does that mean that it's GenFu package that should be updated to be declared as compatible with the new netcoreapp1.0 or something else should be done?

[2016-09-20 21:49] clarkis117 commented on #96
@os1r1s110 There's no reference to any of the dnx targets in the pull request. The pull request targets only "net45" and "netstandard1.3"; therefore, this should no longer be an issue.

`  "frameworks": {
    "netstandard1.3": {
      "dependencies": {
        "System.Reflection.TypeExtensions": "4.1.0"
      }
    },
    "net45": {}
  }`

[2016-09-20 22:25] os1r1s110 commented on #96
So in your opinion I should only change the default project template to target dnxcore50?

[2016-09-21 01:53] clarkis117 commented on #96
No, that's not what I'm saying at all. I'm saying that having to have a target for dnxcore50, should no longer be required as switching GenFu to .NET Standard solves that issue. If you have any further issues with this, please file them as a separate issue and make sure to include your project.json and project.lock.json so it can be reproduced.

[2016-09-21 02:19] os1r1s110 commented on #96
Ok I see, so it should work once your PR will get merged.

[2016-09-21 02:29] clarkis117 commented on #96
Yes

[2016-10-20 02:58] MisterJames commented on #96
@clarkis117 thanks for your work here, this is merged and I'm prepping a release.

[2016-10-20 02:58] #96 closed

[2016-10-20 02:59] MisterJames commented on #87
@vhe1 closing as we haven't seen any activity here in a while, but feel free to reopen if you're still having troubles.

[2016-10-20 02:59] #87 closed

[2016-10-31 20:06] EdCharbeneau opened #98 "Strings are empty in 1.2.0"
I think there is an issue with the NuGet package for 1.2.0 where the [Resource](https://github.com/MisterJames/GenFu/tree/master/src/GenFu/Resources) are not included in the package, this results in an empty string for all string values.

A.New<Person>().FirstName //=> ""
A.New<Person>().LastName //=> ""
A.New<Person>().Age //=> 35

[2016-11-01 13:29] clarkis117 commented on #63
This issue should be closable now, due to GenFu supporting .NET Standard #91 #96

cc: @stimms @MisterJames @dpaquette

[2016-11-02 01:49] MisterJames commented on #98
@EdCharbeneau I think I got it.

I've updated the way the resources are loaded and broken out the declaration/assignment of the resource stream and it's working from a local package build. I'm uploading now to https://www.nuget.org/packages/GenFu/1.2.1 (just waiting for the index to update).

Thanks for notifying us!

[2016-11-02 01:53] MisterJames commented on #98
So...the fix, btw...if you pull down the nupkg for 1.2.0 and use JustDecompile the resources are actually in there. I haven't nailed down why they weren't working, but seemingly it appears as though this bump to the specification of the embed for the resources and the breakout of the assignment seem to have changed _something_.

Commits:
https://github.com/MisterJames/GenFu/commit/e0cfa5cfe44c5c37

[2016-11-11 01:52] JuergenGutsch commented on #63
Great. Yes, can be closed

[2016-11-11 01:52] #63 closed

[2016-12-15 23:30] motowilliams opened #99 "Allow overriding of Title, City and other common names"
Maybe it is _API_ user error but when I register a filler class for items such as title and city I don't seem to get called.

Here is a sample repo for a, ahem, repro https://github.com/motowilliams/GenFuFiller

[2017-01-17 11:45] mblander opened #100 "Website genfu.io: HTTP Error 502.5 - Process Failure"
The website is displaying an error: Process Failure

[2017-02-09 06:23] fleed opened #101 "DateTimeOffset not set?"
With the following usage:

[code]

where `ContentChange` is defined like this:

[code]

all Timestamp values are set to `Zero`. Is it a bug or am I using it wrong?

PS: Every other property is filled as expected.

[2017-02-13 15:49] dpaquette commented on #101
Likely a bug. I don't think we ever considered DateTimeOffset.

[2017-03-23 12:13] MrFojo opened #106 "Feature: Set to one of a list of values"
Set a property to one of the values from a list. Something like

`A.Configure<Apparel>()`
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;`.Fill(apparel => apparel.Type, `
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;`type => OneOf({"Shirt","Trousers","Dress","Blouse","Skirt"});`

[2017-03-27 14:32] dpaquette commented on #106
This works today as follows;

`A.Configure<Apparel>().Fill(apparel => apparel.Type).WithRandom(new []{"Shirt", "Trousers", "Dress", "Blouse", "Skirt"});`

[2017-04-06 02:28] #101 closed

[2017-04-13 15:31] spboyer opened #107 "Make .NET 4.6 Framework version"
Needed for Azure Functions thanks.

[2017-05-05 22:19] rgozim opened #108 "Add filter class for `double` and `float` types"
Calling `GenFu.Configure<>().Fill(x => x.doubleValue)` for type double does not allow generating of value `WithinRange` like `int`. Please add similar functionality for double and float types (could probably use double with a cast for both).

Also casting from double to int silently fails:
[code]

[2017-05-05 22:23] rgozim opened #109 "Configure with cast from double to int fails with no error"
Casting from double to int silently fails:
[code]

[2017-05-16 13:28] ashrafxcoder opened #110 "Hey please add this feature to your project ?"
For string Properties

`GenFu.Configure<BlogPost>()`
                `.Fill(p => p.Description).AsLoremIpsumWords(400).AsTitle(p => p.Description)`
Or
               `.Fill(p => p.Description).AsLoremIpsumWords(400).ToTitleCase(p => p.Description)`
To change the description property to title case
From : "sed ipsum turpis vel pellentesque"
To : "Sed Ipsum Turpis Vel Pellentesque"

I am wrapping my

[2017-06-13 22:46] MisterJames commented on #107
Thanks @spboyer, the latest build includes support for net461.

Cheers!

[2017-06-14 15:58] #107 closed

[2017-06-14 19:16] MisterJames commented on #100
Got this all fixed up, thanks for the note!

[2017-06-14 19:16] #100 closed

[2017-06-14 22:02] snaebjorn13 opened #113 "Trouble with class with long property."
I've got a POCO class Company with numerous int and string properties, and one long property. When I run my unit tests (which generate a list of said class using A.ListOf<Company>();), they fail with the stacktrace below.

This seems to be somewhat sporadic, as sometimes all tests pass without any trouble.

When I change the long property to int, then it runs without trouble every time.

I know th

[2017-06-15 18:41] MisterJames commented on #106
@MrFojo This one's baked in already, let us know if you have any questions around it!

[2017-06-15 18:41] #106 closed

[2017-06-15 18:42] MisterJames commented on #113
Thanks for the report @snaebjorn13. Would you mind posting the class (or an approximate of it) here that I can use to repro the issue? Or perhaps do a PR with a failing test?

[2017-06-15 18:45] MisterJames commented on #110
Hi @ashrafxcoder, check out version 1.3.3 to see the latest features as described here:

http://genfu.io/wireframe

You'll need the `GenFu.HtmlHelpers.Wireframes` that @EdCharbeneau is working on, I think it should be up in the near future.  Cheers!

[2017-06-15 19:10] MisterJames commented on #110
@ashrafxcoder and just so you know, we're having a good discussion about how we might implement this, but not exactly as you suggest.

We have a next major version (bit of a dream right now) where values are constructed through a pipeline. This would allow for templated construction based on generated properties as well as things like formatters (that would do things like capitalization as you're

[2017-06-15 19:10] #110 closed

[2017-06-15 19:12] MisterJames commented on #90
The docs for this will be tracked in via #93.

[2017-06-15 19:12] #90 closed

[2017-06-15 20:16] ashrafxcoder commented on #110
Thank you for letting me know....
I am looking forward for all this really cool stuff....
Happy Coding...

[2017-06-18 15:13] zhengbli opened #116 "Configuring Inheritted Class Not Working"
This might be related to #25, but still exist in the latetst release.

[code]
Result
![default](https://user-images.githubusercontent.com/1171301/27261733-2f956d6a-5417-11e7-8598-6846caa82532.png)

GenFu Version 1.3.3.

[2017-06-19 18:06] Prophasi opened #117 "PropertyFillers dictionary error from concurrent test runs"
When running `dotnet test` against a xUnit project with 4 total test methods (all of which use GenFu), I get the following error:

 System.ArgumentException : An item with the same key has already been added. Key: System.Nullable`1[System.Guid]
Stack Trace:
   at System.ThrowHelper.ThrowAddingDuplicateWithKeyArgumentException(Object key)
   at System.Collections.Generic.Dictionary`2.Insert(TKey ke

[2017-06-20 15:08] Prophasi commented on #113
@snaebjorn13 Out of curiosity, have you tried running your tests without parallelism? I just posted issue #117 with the same stack trace, showing parallelism to be the problem. It would explain why it's sporadic for you, too. Parallelism is enabled by default in current versions of xUnit. To disable it, I used this attribute in my test assembly:

`[assembly: CollectionBehavior(DisableTestParalleli

[2017-06-21 21:19] snaebjorn13 commented on #113
That worked, thank you!

[2017-07-06 18:06] kellermanrivero commented on #117
The same issue happens to me. I think they could use a ConcurrentDictionary instead of the default Dictionary implementation.

[2017-07-10 21:26] dpaquette commented on #117
We know that GenFu has some problems with running tests in parallel. Some of this is because we have the GenFu "Filler" configuration setup as static. Even if we fixed the dictionary issue above, we would still have other problems. Each unit test changes the configuration for particular classes which could cause conflicts between tests that are running at the same time. Ideally we would like to in

[2017-08-07 22:24] shurub3l opened #118 "Make it work for interfaces"
It would be nice to be able to pass an interface to the GenFu.New<>() method. It should return an anonymous object.

[2017-08-10 21:03] dpaquette commented on #118
Interesting idea. We will have to think about that.

[2017-08-15 16:47] dpaquette opened #119 "Remove project.json example from genfu.io site"
We still show the old project.json style of referencing a package. We should remove that since it's not relevant anymore

[2017-08-21 08:44] fugaku commented on #13
Any news on this one ?

[2017-08-21 08:52] gpltaylor commented on #13
@fugaku
 I believe this is resolved. My fix was merged into dev https://github.com/MisterJames/GenFu/pull/53

[2017-09-18 20:02] EdCharbeneau commented on #98
Fixed by PR #115

Note: Version number on the NuGet package for this fix is 1.4.4 however, GenFu.csproj still shows 1.3.3

[2017-09-18 20:02] #98 closed

[2017-09-23 09:21] stardance opened #120 "Read Me"
We reallllly need a offical docuemnt or user‘s manual

[2017-09-26 14:28] dpaquette commented on #120
Agreed

[2017-10-02 22:26] shurub3l opened #121 "Add setting to ignore default value checker"
I see that GenFu will not write to a property if it doesn't have the default value. I think there should be a setting so we can turn this off if needed.

[2017-10-06 14:47] os1r1s110 commented on #13
Has there been an implementation for other nullable types than DateTime?

[2017-10-24 06:58] florinciubotariu opened #122 "Symbol indexes could not be retrieved"
### Steps to reproduce
1. Add GenFu to project, build and publish symbols in TFS.
2. Build partially succeeds with error:

Indexed source information could not be retrieved from 'GenFu.pdb'. Symbol indexes could not be retrieved.

[2017-10-25 17:09] stimms commented on #64
Looks like this is solved already.

[2017-10-25 17:09] #64 closed

[2017-10-25 18:46] stimms commented on #113
So it would seem we have some parallelism issues in GenFu. Unfortunately, the way we configure GenFu by using a static is in opposition to allowing for parallelism. To fix this we'd need to do a pretty significant refactoring and API change. There are probably some smart ways to support both static and private configuration for GenFu but I'm, honestly, leaning towards dropping the static configura

[2017-10-30 17:24] dpaquette opened #125 "Need a way to enforce invariants across the object graph to generate valid data"
This issue was reported by @dylan-smith in a Slack channel. Capturing it here so we don't forget about it...again.

As an example, a Game has a collection of Players, each Player has a Winnings and a Payin, Total winnings for Game need to equal total Payin.

Here is how this is being generator now without using GenFu:
[code]

[2017-10-31 13:26] JimKay1941 opened #126 "Filling a text list results in zero entries (syntax worked on AngelaSmith version)"
This syntax was copied from AngelaSmith, where it works, to GenFu where it produces an empty list as output. There are no error messages.

.Fill(p => p.Skills, () => new List<string>() { "Math", "Science", "History" })

[2017-10-31 15:03] #13 closed

[2017-10-31 16:37] dpaquette commented on #126
This is definitely a bug. That syntax should work

[2017-11-06 21:52] stimms commented on #126
I went and put in a test for this because it seemed odd that it didn't work.

[code]

That test passed but maybe I'm interpreting what is expected here incorrectly. I also tried

[code]

I wonder if it might not be the lack of generic in your example code. Could you try

[code]

Instead?

[2017-11-07 05:31] JimKay1941 commented on #126
Something has become confused. The "Could you try..." you have provided is PRECISELY what I submitted to you as the NOT WORKING version.

Here is the Person data model file:
`using System;
using System.Collections.Generic;
using System.ComponentModel.DataAnnotations;
using System.Linq;
using System.Web;

namespace SimpleSite.Models
{
    public class Person
    {
        public Person()
        {

[2017-11-07 13:48] stimms commented on #126
I took your model

[code]

[2017-11-07 14:06] JimKay1941 commented on #126
For me, the puzzle arises because almost exactly the same code worked with the Alice version and that code came from a tutorial written by Mr. James, himself.

(The GenFu version was posted by another person who did not seem to realize it wasn't working.)

I'll look at #121 shortly.

[2017-11-07 14:09] JimKay1941 commented on #121
Can someone help me understand what is referred to as 'IT' in '...if IT doesn't have...'?

Can someone help me understand the meaning of '...the default value' in this context?

[2017-11-07 14:52] os1r1s110 opened #127 "Release plans"
Not really an issue, didn't know where to ask. Just wanted to know you had any plans on releasing the latest changes to NuGet anytime soon? I'm eager to use the new nullable types automatic fill :)

Thanks in advance!

[2017-11-07 16:25] stimms commented on #127
I think there is enough for a release once #128 is done.

[2017-11-07 19:39] os1r1s110 commented on #127
Glad to hear that! I'll wait patiently :)

Thanks for your work (and the other monsters hehe), this is a real time saver!

[2017-11-07 19:49] dpaquette opened #129 "Configure AppVeyor to build for each pull request"

[2017-11-07 19:50] #126 closed

[2017-11-08 01:15] JimKay1941 commented on #121
Don't you find it jarring to have to combine 'new List<string>' and 'ForceFillEvenIfAlreadyFilled = true' in the very same statement?

Perhaps GenFu needs an additional boolean property: 'ForceFillEvenIfEmpty' wouldn't you say?

Though, upon reflection, I don't really understand how/why 'ignore' would EVER be acceptable behavior. When a service routine does NOT do what was requested, it really SHO

[2017-11-08 05:08] stimms commented on #121
Keep in mind that we want to maintain backwards compatibility so this new behaviour cannot be the default. I'd argue that GenFu is doing what is expected, it is filling in missing data. Something like

[code]

Is a reasonable application of GenFu. I'd also draw your attention to the disclaimer above that this is not a final syntax. I'm certainly willing to entertain other options so please feel fr

[2017-11-08 06:00] JimKay1941 commented on #121
As a check against developer errors, I may want to differentiate between FillEvenIfAlreadyFilled and FillEvenIfEmpty.

To me, these are entirely different situations.

(Right now, I'm trying to test the latest version that MisterJames submitted as a Pull.)

[2017-11-08 07:19] JimKay1941 commented on #126
I cloned GenFu (about 2 hours ago), built it, and pointed my own project's reference to that .dll.

Now GenFu is working as I had expected.

Thank you to everyone who participated in this issue.

[2017-11-08 13:07] stimms commented on #121
FillEvenIfEmpty is the default behaviour now, we'll fill anything that looks like a collection unless it has things in it already.

[2017-11-08 15:17] JimKay1941 commented on #121
I have tested this version by cloning it into a Git Repository.

This version is working now in the same way the Alice version was working.

Thank you for your assistance.

Can you estimate when this update will be available as a Nuget Package?

[2017-11-27 08:02] sandimschuh opened #132 "Race condition in FillerManager.cs GetFiller(PropertyInfo propertyInfo)"
When executing in parallel (unit testing) I get following Exception:

Result StackTrace:
----- Inner Stack Trace #1 (System.ArgumentException) -----
   at System.ThrowHelper.ThrowAddingDuplicateWithKeyArgumentException(Object key)
   at System.Collections.Generic.Dictionary`2.TryInsert(TKey key, TValue value, InsertionBehavior behavior)
   at System.Collections.Generic.Dictionary`2.Add(TKey key, T

[2017-11-27 13:10] sandimschuh commented on #132
Fixed this temporarily on my site by wrapping entire body of GetFilter() into a lock(){...} block.

[2017-11-27 20:22] dpaquette commented on #132
We used to get this on the GenFu unit tests. Our workaround for the time being was to disable parallel tests

[2017-11-29 14:24] DemoBytom commented on #113
Is there any ETA on how long it might take to make GenFu paraller-friendly? And if it's even on the roadmap? My team is considering adopting GenFu for our test suites, but I need to give an estimate for how long our tests wouldn't be able to run in parallel, since it is one of the requirements that we have.

[2017-11-29 17:49] dpaquette commented on #113
We would very much appreciate a fix if you are able to contribute

[2017-11-30 09:13] marcoregueira commented on #113
Just added a pull request for making type registration thread safe. https://github.com/MisterJames/GenFu/pull/133

That would solve https://github.com/MisterJames/GenFu/issues/132 too.

[2017-11-30 09:17] marcoregueira commented on #132
Please check https://github.com/MisterJames/GenFu/pull/133.

[2017-11-30 20:52] os1r1s110 commented on #127
Is anything still blocking the update to NuGet? I saw #128 was merged so I wondered if you planned on updating anytime soon :)

Thanks again and don't think I want to rush you, I know it's open source and you guys do it on your spare time, I fully understand it. I'm just eager to use the updated goodies :P

[2017-12-13 13:44] marcoregueira commented on #132
Hi @dpaquette. I've got some tests failing randomly because of the problem listed in this issue.  I'd rather prefer not disabling the parallel tests. Running them in parallel increases my confidence in the whole system and is more performant.

The provided PR #133 solves this issue and is more performant than just a lock because it uses reader and writer locks. Had you the opportunity to check it

[2018-01-23 14:23] os1r1s110 commented on #127
Hey there, me again, just wanted to know if there was any update regarding the release of the updated package to NuGet?  I saw the issue #132 so I guess it is a road block but would like to get a general idea of when/if you plan to release in the near future :)

Thanks in advance!

[2018-02-16 09:44] ildoc opened #134 "How to force to fill nullable properties?"
Not a bug, but since I couldn't find any documentation, I don't know where else to ask for support...

I have a class like this:

[code]

And I configured like this:

[code]

but when I create a list with `var things = A.ListOf<Thing>(50);`, all of them have Id and Timestamp as null

(I'm using it in a .NET framework 4.6.2 project)

What I'm missing? How can I force nullable properties to be fille

[2018-03-06 17:15] dpaquette commented on #134
You shouldn't need to do anything special to fill nullable properties. Can you try `var things = A.ListOf<Thing>(50)` without doing anything to `Configure` first?

When I try this on genfu.io, it works without configuration.

![image](https://user-images.githubusercontent.com/2531875/37047121-464decde-2127-11e8-8ab5-7190a81d82c0.png)

[2018-03-07 19:27] dpaquette commented on #127
New release was pushed last night. It is available on NuGet now

[2018-03-07 19:27] #127 closed

[2018-03-08 06:54] markphillips01 commented on #134
I'm having the same issue as well - i think that website testbed might be doing some different config, so i pasted the code int a unit test

[code]
and here's the debug output

[code]

[2018-03-08 07:02] stimms commented on #134
I think there was indeed a bug on this. Can you try the latest version?

On Wed, Mar 7, 2018 at 11:54 PM, markp <notifications@github.com> wrote:

[2018-03-08 09:12] markphillips01 commented on #134
Awesome - just updated to the latest version (1.4.22) - All seems to working great!

[2018-03-08 14:17] unklyf opened #136 "Trouble with enums starting at 1"
Code to reproduce :

`
A.Configure<Person>().Fill(x => x.Gender).WithRandom(new Gender[] { Gender.Male, Gender.Female }))
`
 Gender is an enum where Male = 1 and Female = 2

The person gender property is always fill to zero.

[2018-03-09 03:31] stimms commented on #136
Hi @unklyf which version was exhibiting this issue? I tried with the latest and these tests passed

[code]

[2018-03-09 08:31] unklyf commented on #136
Sorry i feel stupid. I was in 1.4.1.
It works after update in 1.4.21.

Thanks !

[2018-03-09 08:31] #136 closed

[2018-04-06 00:12] paulers opened #137 "Company class is not accessible due to protection level"
If you take a look here: https://github.com/MisterJames/GenFu/blob/58ed1b0f374e80be94b37ed75ec1dfe280bcc480/src/GenFu/ValueGenerators/Corporate/Name.cs the class is not public, and thus can't be accessed. Gotta use LipsumWords for my company names!

[2018-05-14 16:17] Socolin opened #138 "DateTimeOffset always generate same date"
Hi,

Generating data with a DateTimeOffset pick a random date at first, then reuse the same for every element.

Is this normal behaviour ? I would expect to have random value each time.

[code]

[code]

[2018-07-23 15:21] #23 closed

[2018-08-17 04:59] natemcmaster commented on #49
Closing as this bug is stale.

[2018-08-17 04:59] #49 closed

[2018-09-10 19:36] ngruson opened #139 "Can't build the solution"
I can't get the sources to build after cloning the repo. I'm running Visual Studio Enterprise 2017, version 15.6.6.
After deleting global.json from the root, I can build GenFu and GenFu.HtmlHelpers but still not GenFu.Tests:

NuGet package restore failed. Please see Error List window for detailed warnings and errors.
1>------ Build started: Project: GenFu, Configuration: Debug Any CPU ------
1>Gen

[2018-10-09 15:19] mdarefull opened #140 "Create static data"
One of the pain of unit testing is the need to build fake data (entities, dtos) to be passed to the SUT.
One of the requirements of a unit test is that it should be repeatable, so we cannot generate different values on each test execution.

IMO, it will be great if there is some addition to the library to make (at least) its ListOf execution a pure function: It should generate exactly the same set

[2018-10-13 10:36] CiprianCapus opened #141 "Enum filler random issue"
Hi

It seems that enum fields are always filled with the same value
I think the issue is that a new Random instance is created in EnumFiller.cs
And for example in EnumerableExtensions.cs, a static Random field is used

[code]

[2018-10-17 18:57] SonOfPirate commented on #117
Any traction on this?  Couldn't it be solved by simply putting the ThreadStaticAttribute on the field containing a reference to the configurations so each thread gets its own?  We only have around 200 tests in our current solution and a random one of them fails nearly every test run because of this issue.  I can disable parallelization for now but as the number of tests grows, taking advantage of

[2018-10-30 15:35] dstj opened #142 "Force fill child property to override default constructor values"
I have a class with a child object property. The default constructor sets an empty object to avoid NULL errors further in my production code. When trying to configure GenFu, the child property is never filled, It just leaves the "empty" value set by the default constructor. How can I override that behavior? Can it be overridden?

Sample code:

    [Test]
    public void Test()
    {
       A.Confi

[2018-11-21 15:15] kyleestes opened #143 "Another FillerManager race condition"
I see there are other race-condition-related issues logged, and that the dev team is aware of the broader concurrency issue(s). However, I thought it might be helpful to share this call stack.
`System.InvalidOperationException : Collection was modified; enumeration operation may not execute.
   at System.Collections.Generic.Dictionary`2.ValueCollection.Enumerator.MoveNext()
   at GenFu.FillerManag

[2018-12-20 07:00] marcoregueira opened #145 "Race condition in generic fillers."
PR #133 doesn't include support for the new feature of generic fillers. As result, those tests fail. There is a new PR, #144, for them.

[2018-12-20 09:33] marcoregueira opened #147 "Genfu Instances"
It would be great to be able to create GenFu instances. That would reduce interferences in multithreaded scenarios, allow creating specialized generators and better support for DI environments.

For instance:

[code]

PR #146 implements this change with while keeping old static usage to avoid breaking changes.

[2019-10-31 16:04] petersontubini commented on #50
We're in 2019....... and still missing this feature... Is this package dead? Common.... it's impossible that nobody feel that this is not important......

[2019-10-31 16:52] petersontubini opened #149 "Ignore Field"
Is there any option that I can use for ignoring fields that I don't want to be filled?

E.g. I've a DeletedAt Field.

[2020-01-08 08:20] mfarkan opened #151 "Integer property WithInRange method not in range :relaxed:"
I'm writing unit tests and my genfu class is like that ;
[code]
[code]
And It's keep going like that.

My app running on .net core 3.1.

Thank you ! :thumbsup:

[2020-01-10 15:39] knight1219 opened #152 "Is this project alive?"
I've used this project for years now and love it, even took a copy and pushed it to compile with .net core 2.2. But is there going to be anymore official support going forward? The last thing that happened was a merge of a PR last year.

I would be happy to push up my version with .net core support and some other interesting features (using Data annotations in order to create good vs bad versions

[2020-01-10 17:59] dpaquette commented on #152
The project isn't dead but we do need to dedicate a little more time to it.  We are happy to review your pull requests adding .NET Core support and potentially other features.

[2020-01-13 23:47] dpaquette commented on #151
Working on a fix and have identified the source of the problem. See PR #153

[2020-01-14 07:02] mfarkan commented on #151
thank you ! what is the cause of this ? I review your code but i didn't understand it.

[2020-01-14 07:27] mfarkan commented on #141
I think this issue was closed because the value of enum is generating randomly but if my enum have five items in it and length is five but i never get fifth item on this situation. I test it like that ;

[code]

[code]

That's the result ;

[code]
What do you think @dpaquette ?

PS: .net Core 2.2 running on.

[2020-01-14 15:20] dpaquette commented on #151
It had to do with how `WithinRange` was registering the property filler for the `ApplicationUser` type but the `AccessFailedCount` property is actually defined on the base class.

I did a live stream while I tried to reproduce this bug and eventually found the source of the problem. You can watch it here if you're interested: https://www.youtube.com/watch?v=IuKhMSx1a7A

[2020-01-14 15:21] #152 closed

[2020-01-14 15:21] dpaquette commented on #149
What type is the DeletedAt field?

[2020-01-14 15:24] dpaquette commented on #141
Yeah I could see that being an issue. I will take a look

[2020-01-14 15:30] mfarkan commented on #141
I looked EnumFiller i saw this ;

[code]
I think main problem is subtraction.

[2020-01-16 05:02] Jamaxack commented on #139
Rebuild All succeeded in Visual Studio 2019 version 16.4.2, try upgrading your Visual Studio to latest version.

[2020-01-21 21:48] knight1219 commented on #152
I'll try and push it up to a fork and see if I can get a list of all the changes I have made. A lot of the changes where ones I needed for unit tests and testing "bad" versions of an object.

[2020-01-23 03:30] #151 closed

[2020-01-23 03:42] dpaquette commented on #141
Thanks for investigating @mfarkan and @CiprianCapus for reporting.  This has been fixed and will be included in an upcoming release.

[2020-01-23 03:42] #141 closed

[2020-01-27 15:20] #139 closed

[2020-01-31 16:23] dpaquette commented on #129
Moved to github actions. Don't need this anymore

[2020-01-31 16:23] #129 closed

[2020-01-31 16:55] dpaquette commented on #119
Done

[2020-01-31 16:55] #119 closed

[2020-02-01 11:38] ansariabr commented on #149
@dpaquette I have added this functionality. Can you provide the access to this repo so that I can create push a branch and raise the PR?

[2020-02-01 16:46] dpaquette commented on #149
Thanks @ansariabr !
You can submit at PR from your fork of this repo. Take a look at https://help.github.com/en/github/collaborating-with-issues-and-pull-requests/creating-a-pull-request-from-a-fork

[2020-02-04 17:39] #134 closed

[2020-02-04 17:41] dpaquette commented on #116
This was fixed in v1.6.0

[2020-02-04 17:41] #116 closed

[2020-02-25 19:07] mfarkan commented on #142
Hi , I've the same issue is there any solution for this ? @dpaquette

[2020-02-25 19:10] dpaquette commented on #142
I don't have a workaround for you. This would require some changes to the configuration API. I will try to bump this up on the priority list

[2020-02-25 19:21] mfarkan commented on #142
@dpaquette thank you ! 👍

[2020-03-08 19:47] dpaquette commented on #138
Added test to verify that this was fixed in a release. See PR #158

[2020-03-08 19:47] #138 closed

[2020-09-02 09:20] mmalka opened #159 "GenFu fill "SetXXXX()" methods by default"
Hello,

how can I prevent GenFu from calling custom Setters methods as expected according to this documentation on @MisterJames website.

http://jameschambers.com/about/genfu.html

[2021-04-28 05:54] wangengzheng commented on #50
Looks good!

[2022-03-10 04:28] gldraphael opened #163 "Request: Support HTTPS on genfu.io"

[2022-05-09 18:14] xperiandri opened #164 "[TargetFrameworks] Why do you support so many target frameworks?"
I propose to leave `netstandard2.0` only.
Will you accept such a pull request?

[2022-05-09 18:17] xperiandri opened #165 "[ValueTypes] filling"
While filling a value type I discovered that you don't have a check that checks a value type default value.
So I implemented the one and can create a pull request.
However, I would also like to add public fields filling too. Do you accept that?

[2022-05-10 13:23] dpaquette commented on #165
Submit a pull request and we will review. Those both sound like useful features

[2022-05-10 21:04] xperiandri opened #168 "[Records] Support constructor filling to create positional records"
With the current requirement of the parameterless constructor, it is impossible to create positional records.
I propose to rename `IPropertyFiller` into `IValueFiller` and add the ability to fill the largest (most parameters) constructor on instance creation.
I already have a code that adds support for constructors filling.

[2022-05-21 17:48] dpaquette commented on #164
We previously supported many target frameworks because that's what was needed at the time when we created earlier versions of GenFu. Thanks for helping bring GenFu to the 2020s :-)

Closed via #166

[2022-05-21 17:48] #164 closed

[2022-05-21 17:49] dpaquette commented on #165
@xperiandri  Did #166 fully implement this feature for you?

[2022-05-21 21:05] xperiandri commented on #165
It works if you try to get the instance of the configured type.
But if you have 2 configured types and one takes another in the constructor, then that input instance is empty.

[2022-05-21 21:07] xperiandri commented on #165
Yes

[2022-05-21 21:07] #165 closed

[2022-05-21 21:08] xperiandri commented on #168
In #169 it works if you try to get the instance of the configured type.
But if you have 2 configured types and one takes another in the constructor, then that input instance is empty.

[2022-05-29 14:33] hueifeng opened #170 "How to fill the Nullable<enum> properties?"
![image](https://user-images.githubusercontent.com/34702552/170874667-f0e3596f-2ebb-4714-9048-4104d95491e1.png)

[code]

[code]

[code]

[2022-06-06 12:34] vabic opened #172 "How to fill bool property with default value"
Ex:
[code]

[code]

`var users  = A.ListOf<User>(20);`

All users have the IsActive property set to default value (IsActive == true);
In debug, the setter property are never called.

[2022-11-30 11:46] kurnakovv opened #173 "Code examples formatting"
Your examples has:
* Problems with spaces and indents
* Problems with code color

[2022-11-30 11:47] KurnakovMaksim commented on #173
I'll fix it